<br><br>
<p class="h2 text-center text-info">管理者一覧</p>
<br>
<ul class="list-group mx-auto" style="width: 30rem">
<% @users.each do |user| %>
    <li class="list-group-item">
      <img src="<%= "/user_images/#{user.user_image}" %>" class="rounded-circle" style="margin-right:20px; width: 60px; height: 60px"><%= link_to user.u_name, user_path(user) %>
    </li>
  <% end %>
</ul>

