<br><br>
<p class="text-danger" style="text-align: center"><%= @error_message %></p>
  
<div class="card mx-auto" style="width: 20rem">
  <div class="card-header">
    管理者ログイン
  </div>
  <div class="card-body mx-auto text-center">
    <h5 class="card-title text-center">ログインフォーム</h5>
  
    <%= form_with scope: :user, local: true do |f| %>
    <%= f.label :login_id, "ログインID" %>
    <%= f.text_field :login_id, class: 'form-control' %>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %><br>
    <%= f.submit 'ログイン', class: 'btn btn-info form-control' %>

    <% end %>
  </div>
</div>