<br><br>
      <!-- バリデーションエラーを表示 -->
      <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |message| %>
              <p class="text-danger" style="text-align: center"><%= message %></p>
            <% end %>
      <% end %>
      <!-- バリデーションエラーを表示　ここまで -->
<div class="card mx-auto" style="width: 30rem">
  <div class="card-header">管理者追加</div>
  <div class="card-body mx-auto text-center">
    <h5 class="card-title text-center">管理者追加フォーム</h5>
      
    <%= form_with model: @user, local: true do |f| %>
    <%= f.label :u_name, "名前" %>
    <%= f.text_field :u_name, class: 'form-control' %>
    <%= f.label :login_id, "ログインID" %>
    <%= f.text_field :login_id, class: 'form-control' %>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %><br>
    <%= f.submit '追加', class: 'btn btn-info form-control' %>
    <% end %>

  </div>
</div>
<br><br><br><br>