<br><br>
<div class="card mx-auto" style="width: 30rem">
  <div class="card-body">
    <h5 class="card-title text-center">ユーザー情報</h5>
    <div class="text-center">
    <img src="<%= "/user_images/#{@user.user_image}" %>" class="rounded-circle" style="margin-right:20px; width: 100px; height: 100px"><br><br>
    <p class="card-text">名前: <%= @user.u_name %></p>
    <p class="card-text">ログインID: <%= @user.login_id %></p>
    </div>
    <br><br>
    <div class="text-center">
    <a href="<%= edit_user_path %>" class="btn btn-info">編集</a>
    </div>
  </div>
</div>