<br>
<% if @data %>
<div class="text-center"><h3><%= @data.name %>さんの架電・メール対応件数編集</h3>
<br>
<div class="card mx-auto" style="width: 30rem">
  <div class="card-header">架電・メール対応件数編集</div>
  <div class="card-body mx-auto text-center">
    <h5 class="card-title text-center"><%= @data.date %>を件数を編集</h5>
    <%= form_tag ("/count/call_outbound/#{@data.id}/update") do %>
    架電件数<br>
    <input type="text" size="3" name="outbound" value="<%= @data.outbound %>"><br><br>
    メール対応件数<br>
    <input type="text" size="3" name="mail" value="<%= @data.mail %>"><br><br>
    <%= submit_tag "保存",:class => "btn btn-danger" %><br>
    <% end %>
  </div>
</div>
<br>
<a href="<%= root_path %>"><button type="button" class="btn btn-info">一覧に戻る</button></a>
</div>
<br>
<% end %>