<br>  
<div class="text-center"><h3><%= @today %>の対応件数</h3><br>


<a href="<%= "/count/#{@yes}" %>"><button type="button" class="btn btn-info">前日</button></a>
<a href="<%= root_path %>"><button type="button" class="btn btn-dark">最新の対応件数</button></a>
<a href="<%= "/count/#{@tom}" %>" style="text-align: right">
<button type="button" class="btn btn-info">翌日</button></a>
</div>
<br>
<!--<div class="container text-center">-->
<!--<%= form_tag "/ser", {method: :get} do %>-->
<!--  <div class="input-group mx-auto" style="width: 17rem">-->

<!--  <%= date_select :ser_date, :date_select, :use_two_digit_numbers => true %>-->
  
<!--  <button class="btn btn-outline-info" type="submit">対象日を検索</button>-->
<!--  </div>-->
<!--<% end %>-->
<!--</div>-->


   <div class="container" style="width: 35rem; font-size: 50%">
        <table class="table table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              
              <th scope="col">名前</th>
              <!--<th scope="col">架電件数</th>-->
              <th scope="col"><%= sortable "total_call", "受電合計" %></th>
              <th scope="col" style="width: 6rem"><%= sortable "total_op_time", "合計対応時間" %></th>
              <th scope="col"><%= sortable "av_acd", "平均対応時間" %></th>
              <th scope="col"><%= sortable "av_pp", "平均後処理時間" %></th>
              <!--<th scope="col">メール件数</th>-->
              <!--<th scope="col">架電・メール編集</th>-->
              <th scope="col">対象日</th>
            </tr>
          </thead>

          <tbody>
            <% @date.each do |count| %>
            <% total_fun = count.total_op_time/60 %>
              <tr>
                
                <td><%= count.name %></td>
                <!--<td><%= count.outbound %>件</td>-->
                <td><%= count.total_call %>件</td>
                <td><%= count.total_op_time %>秒 (<%= total_fun %>分)</td>
                <td><%= count.av_acd.floor %>秒</td>
                <td><%= count.av_pp.floor %>秒</td>
                <!--<td><%= count.mail %>件</td>-->
                <td><%= count.date %></td>
                <!--<td><%= link_to "編集", "http://hostingwiki.internal-gmo/avaya/count/call_outbound/#{count.id}" %></td>-->
            <% end %>
          </tbody>
        </table>
          <% if @current_user  %>
             <div class="text-right">
             <%= form_tag "/del" do %>
             <%= hidden_field_tag :date, @today %>     

             <%= submit_tag "この日付のデータを削除" ,data: {confirm: "本当に削除してもいいですか？"},:class => "btn btn-danger" %>
             <% end %></div>
          <% end %>
    </div>

   </div> 
   <br><br>



