<br>
<% if @op_name %>
<div class="text-center"><h3><%= @op_name %>さんの対応件数一覧</h3>
<a href="<%= root_path %>"><button type="button" class="btn btn-info">一覧に戻る</button></a>



</div>
<br>



<br>
   <div class="container" style="width: 42rem; font-size: 50%">
        <table class="table table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><%= sortable "date", "対象日" %></th>
              <th scope="col">名前</th>
              <th scope="col">架電件数</th>
              <th scope="col"><%= sortable "total_call", "受電合計" %></th>
              <th scope="col" style="width: 6rem"><%= sortable "total_op_time", "合計対応時間" %></th>
              <th scope="col"><%= sortable "av_acd", "平均対応時間" %></th>
              <th scope="col"><%= sortable "av_pp", "平均後処理時間" %></th>
              <th scope="col">メール件数</th>
            </tr>
          </thead>

          <tbody>
            <% @op_data.each do |count| %>
            <% total_fun = count.total_op_time/60 %>
              <tr>
                <td><%= count.date %></td>
                <td><%= count.name %></td>
                <td><%= count.outbound %>件</td>
                <td><%= count.total_call %>件</td>
                <td><%= count.total_op_time %>秒 (<%= total_fun %>分)</td>
                <td><%= count.av_acd.floor %>秒</td>
                <td><%= count.av_pp.floor %>秒</td>
                <td><%= count.mail %>件</td>
                 
            <% end %>
          </tbody>
        </table>
          
    </div>

   </div>
<br><br>
<% else %>
<div class="card mx-auto" style="width: 50%">
  <div class="card-header">
    ！データがありません
  </div>
  <div class="card-body" >
    <h2 class="card-title">まだデータが1件も登録されておりません</h2>
    <p class="card-text">通常は、こちらのページにて、最新の対応件数が表示されます。<br>メニューの【CSVアップロード】よりデータをインポートしてください。</p>
  </div>
</div>
<% end %>
