<br>
<br>

<div class="card mx-auto" style="width: 25rem;">
  <div class="card-header border-info"> CSVアップロード</div>
   
  <div class="card-body">
    <h4 class="card-title" style="color: white">CSVアップロードフォーム</h4>
    <p class="card-text">CSVを選択してインポートボタンをおしてください</p>
    <%= form_tag import_count_index_path, multipart: true do %>
    <%= file_field_tag :file,:class => "btn btn-outline-info" %>
    <br><br>
    <%= submit_tag "インポート",:class => "btn btn-info" %>
    <% end %>
  </div>
</div>
<br>

<div class="card mx-auto" style="width: 76%">
  <div class="card-header border-info"> テキストアップロード </div>
  <div class="card-body">
    <h4 class="card-title" style="color: white">テキストアップロードフォーム</h4>
    <p class="card-text">タブ区切りのAvayaのデータをペーストしてインポートボタンをおしてください</p>
    <%= form_tag import_count_index_path do %>
    <textarea name="tsv" id="" cols="150" rows="10" style="font-size: 50%"></textarea>
    <br><br>
    <%= submit_tag "インポート",:class => "btn btn-info" %>
    <% end %>
  </div>
</div>
<br><br>