// Place all the styles related to the count controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
}
th>a {
	color: #A9E2F3 !important;
}