<!DOCTYPE html>
<html>
  <head>
    <title>AvayaCSV</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
 <body>
<!--navbarここから-->
  <nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">AvayaCSV</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <% if @current_user  %>
          <li class="nav-item">
             <a class="nav-link" href="<%= "/users/#{@current_user.id}" %>">
            <img src="<%= "/user_images/#{@current_user.user_image}" %>" class="rounded-circle" style="margin-right:10px; width: 30px; height: 30px">
             <span class="text-warning"><%= @current_user.u_name %></span><span>さんとしてログイン中</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= upload_path %>" ><%= fa_icon 'cloud-upload fa-lg' %> CSVアップロード</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= users_path %>"><%= fa_icon 'users fa-lg' %> 管理者一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_path %>"><%= fa_icon 'user-plus fa-lg' %> 管理者追加</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= logout_path %>"><%= fa_icon 'sign-out fa-lg' %> ログアウト</a>
            
          </li>
      <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= login_path %>"><%= fa_icon 'sign-in fa-lg' %> 管理者ログイン</a>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<!--navbarここまで-->

<!--notice,alert表示-->
    <% if flash[:notice] %>
      <div class="flash">
        <div class="alert alert-warning" role="alert">
        <%= flash[:notice] %>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash">
        <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
        </div>
      </div>
    <% end %>
<!--notice,alert表示ここまで-->

    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
